<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="icon" href="/img/me.png">
    <link rel='stylesheet' href='/css/styles.css'>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <h3>Hi.. This is Udayan Kamble</h3>

        <img class="portrait" src="/img/aa.png">
    </div>

    
    <p>{{>footer}}</p>
</body>
</html>