<html>
<head>

    <title>Help</title>
    <link rel='stylesheet' href='/css/styles.css'>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <h2>Help others who need you..!!</h2>
        <h3>The more you care, the more you have..!!</h3>
    </div>

    
    <p>{{>footer}}</p>
</body>
</html>